body {
	background-image: url(../images/background.png);
	background-size:cover;
/*	background-repeat: no-repeat;*/
}

.title {
	font-family: 'Rock Salt', cursive;
	color:white;
	font-size: 50px
	font-weight:bold;
	text-shadow: 4px 4px 4px #aaa;
}

p{
	font-size: 20px;
}

p:hover { 
    color: #82d8dc;
    font-size: 20px;
}

#startSec, #timerSec, #questionSec {
	font-family: 'Sedgwick Ave', cursive;
	color: #160e53;
	font-size: 25px
}
.charBtn {
	opacity: 1.0;
	filter: alpha(opacity=1.0);
}

.charBtn:hover {
	opacity: 0.85;
	filter: alpha(opacity=85);
}



